{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-wrapper text-center">
        <h1>Admin Dashboard</h1>
        <br>
        {% block header_navigation_links %}
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_panel_badge_index') }}">Badge index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_panel_user_index') }}">User index</a>
                </li>
            </ul>
        {% endblock %}
    </div>
{% endblock %}



