a {
    color: #2893ee;

    &:hover {
        text-decoration: none;

    }
}

img {
    max-width: 100%;
}

.avatar {
    border-radius: 50%;
}

input[type='submit'] {
    &:extend(.btn);
    &:extend(.btn-primary);
    font-family: 'Roboto', sans-serif;
    border-radius: 22px;
    font-size: 14px;
    padding: 10px 40px;
}

.btn {
    border-radius: 22px;
    font-size: 14px;
    padding: 10px 40px;
}

.btn-sm {
    padding: 5px 20px;
    font-size: 12px;
}

.btn-success {
    color: #fff;
    background-color: #58bf23;
    border-color: #58bf23;
}

.btn-primary {
    color: #fff;
    background-color: #2893ee;
    border-color: #2893ee;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #2893ee;
}